<section class="logo">
    <div class="container">
      <div class="wrapper">
        <div class="logo">
          <img src="src/assets/images/partner-1.png" alt="">
        </div>
        <div class="logo">
          <img src="src/assets/images/partner-2.png" alt="">
        </div>
        <div class="logo">
          <img src="src/assets/images/partner-3.png" alt="">
        </div>
        <div class="logo">
          <img src="src/assets/images/partner-4.png" alt="">
        </div>
      </div>
    </div>
  </section>
  
  <style lang="scss">
  @import 'src/assets/styles/utils/var.scss';
    .logo{
      padding-bottom: 162px;
      
  
      .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo{
          color: $brand;
        }
      }
    }
  </style>