---
import Layout from '../layouts/Layout.astro';
import LogoSection from '../sections/LogoSection/LogoSection.astro';
import ServicesSection from '../sections/MainPage/ServicesSection.astro';
import HeroSection from '../sections/MainPage/HeroSection.astro';
import QuotesSection from '../sections/MainPage/QuotesSection.astro';
import Work from '../sections/PriceAndServices/Work.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSection />
		<QuotesSection />
		<LogoSection />
		<ServicesSection />
		<Work />
	</main>
</Layout>

<style>
	
</style>
