---
import Title from "../../components/Title.astro";
---

<section class="sale">
    <div class="container">
      <Title>Цены на услуги</Title>
      <div class="wrapper">
        <div class="left">
          <img src="src/assets/images/sale-1.jpg" alt="" />
        </div>
        <div class="right">
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 wrapper -->
      <div class="wrapper-2">
        <div class="left">
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="src/assets/images/sale-1.jpg" alt="" />
        </div>
      </div>
      <!-- Wrapper 3 -->
      <div class="wrapper-3">
        <div class="left">
          <img src="src/assets/images/sale-1.jpg" alt="" />
        </div>
        <div class="right">
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
          <div class="card">
            <div class="left">
              <h4 class="top">Женская укладка</h4>
              <div class="subtitle">+ обработк кончинков волос</div>
            </div>
            <div class="right">
              <h4 class="number">1 000 ₽</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <style is:global lang="scss">
  @import 'src/assets/styles/utils/var.scss';
    .sale{
      padding: 180px 0 100px;
      min-height: 100vh;
  
      .title {
        font-family: "Garamond";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
  
        text-align: center;
        margin-bottom: 80px;
      }
      .wrapper {
        display: flex;
  
        .left {
          width: 636px;
          img {
            width: 100%;
          }
        }
        .right {
          margin-left: 134px;
          .card {
            display: flex;
            width: 526px;
            height: 88px;
            border-bottom: 1px solid #ffffff;
            margin-bottom: 40px;
  
            .left {
              .top {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                color: #ffffff;
              }
              .subtitle {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #ffffff;
              }
            }
            .right {
              .number {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                text-align: right;
                color: $brand;
                width: 80px;
              }
            }
          }
        }
      }
      // 2 wrapper
      .wrapper-2 {
        display: flex;
        margin-top: 80px;
        .left {
          .card {
            display: flex;
            width: 526px;
            height: 88px;
            border-bottom: 1px solid #ffffff;
            margin-bottom: 40px;
  
            .left {
              .top {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                width: 416px;
                color: #ffffff;
              }
  
              .subtitle {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #ffffff;
              }
            }
            .right {
              .number {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                text-align: left;
                margin-left: -100px;
                color: $brand;
                width: 80px;
              }
            }
          }
        }
        .right {
          width: 636px;
          margin-left: 134px;
  
          img {
            width: 100%;
          }
        }
      }
          // Wrapper 3
          .wrapper-3 {
        display: flex;
              margin-top: 80px;
  
        .left {
          width: 636px;
  
          img {
            width: 100%;
          }
        }
        .right {
          margin-left: 134px;
  
          .card {
            display: flex;
            width: 526px;
            height: 88px;
            border-bottom: 1px solid #ffffff;
            margin-bottom: 40px;
  
            .left {
              .top {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                color: #ffffff;
              }
  
              .subtitle {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #ffffff;
              }
            }
  
            .right {
              .number {
                font-family: "Cormorant Garamond";
                font-style: normal;
                font-weight: 700;
                font-size: 27px;
                line-height: 130%;
                text-align: right;
                color: $brand;
                width: 80px;
              }
            }
          }
        }
      }
    }
  </style>